.page-ColumnsI18next {
  padding: 8px;
}

.out-put {
  margin-top: 8px;
  border-radius: 4px;
  padding: 8px;
  min-height: 20px;
  background-color: var(--primary-color);
  color: var(--light-color);
  word-break: break-all;
}
