.page-ColumnsI18next {
  padding: 8px;

  .out-put {
    margin-top: 8px;
    border-radius: 4px;
    padding: 8px;
    min-height: 20px;
    background-color: var(--primary-color);
    color: var(--light-color);
    word-break: break-all;
  }

  .p-tabview-panels {
    padding: 0 !important;
  }

  .update-mark{
    color: rgb(78, 95, 187);
    cursor: pointer;
    &:hover{
      color: rgb(22, 60, 79); 
    }
  }

  .toolbar{
    justify-content: space-between;
  }
}

.page-ColumnsI18next-drawer {
  .picker-item {
    margin: 4px 0;
    padding: 4px;
    background-color: lightgray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      background-color: gray;
      color: white;
    }
    .close {
      &:hover {
        color: red;
        font-weight: bold;
      }
    }
  }
}

.page-ColumnsI18next-dialog{
  h4 span{
    font-weight: normal;
    color: gray;
  }
  ul{
    padding: 18px;
  }
}