.layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.layout-content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.layout-tabs {
  width: 80px;
  border-left: 1px solid gray;
  background-color: var(--primary-color);
  color: var(--light-color);
  .ico {
    $width: 80px;
    width: $width;
    height: $width;
    background-image: url("../assets/uex.ico");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.layout-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  margin: 4px;
  cursor: pointer;
  &.active,
  &:hover {
    background-color: var(--green);
    color: var(--light-color);
  }
}
